In [2]:
import mysql.connector
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="jbatista",
                               pw="",
                               db="final_schema"))

In [3]:
import pandas as pd
import numpy as np

In [4]:
cnx = mysql.connector.connect(user = 'jbatista',
                                password = '',
                                host = '127.0.0.1')

In [5]:
cnx.is_connected()

True

In [6]:
cursor = cnx.cursor()

In [7]:
query = "SELECT * FROM final_schema.comments"

In [8]:
cursor.execute(query)

In [9]:
comments = cursor.fetchall()

In [10]:

comments_df = pd.DataFrame(comments)
comments_df.columns = [head[0] for head in cursor.description]

In [11]:
comments_df.head()

In [12]:
query = "SELECT * FROM final_schema.schools"
cursor.execute(query)
schools_df = pd.DataFrame(cursor.fetchall())
schools_df.columns = cursor.column_names
schools_df

,index,website,school,school_id
0,1,appacademy.io,app-academy,10525
1,6,brainstation.io,brainstation,10571
2,5,www.codesmith.io,codesmith,10643
3,4,evolvesecurity.io/academy/home?utm_source=swit...,evolve-security-academy,10743
4,0,www.ironhack.com/en,ironhack,10828
5,2,www.springboard.com/?utm_source=switchup&utm_m...,springboard,11035
6,3,practicum.yandex.com/?utm_source=referral&utm_...,practicum-coding-bootcamps,11225

In [13]:
comments_temp = pd.merge(left=comments_df, right=schools_df['school_id'], how='left', left_on=comments_df['school'], right_on=schools_df['school'], )
comments_temp

,key_0,index,id,anonymous,tagline,body,rawBody,program,overall,jobSupport,review_body,school,school_id
0,app-academy,2203,231519,0,Great learning experience,"<p>It was well prepared, I wouldn't have learn...","It was well prepared, I wouldn't have learned ...",Software Engineer Track: In-Person,5.0,5.0,"It was well prepared, I wouldn't have learned ...",app-academy,10525
1,app-academy,2251,231525,0,Great Program / Great People,"<span class=""truncatable""><p>I just finished t...",I just finished the curriculum at App Academy ...,Software Engineer Track: In-Person,5.0,5.0,I just finished the curriculum at App Academy ...,app-academy,10525
2,ironhack,689,231531,0,UX / UI Full-Time bootcamp (Miami) - Take the ...,"<span class=""truncatable""><p>I just recently g...",I just recently graduated from the UX/UI Desig...,Full-time UX/UI Design Bootcamp,5.0,5.0,I just recently graduated from the UX/UI Desig...,ironhack,10828
3,app-academy,2228,231552,0,It was everything promised and more,"<span class=""truncatable""><p>My cohort finishe...","My cohort finished about a year ago, and every...",Software Engineer Track: In-Person,5.0,5.0,"My cohort finished about a year ago, and every...",app-academy,10525
4,app-academy,1862,231555,1,Very rewarding,"<span class=""truncatable""><p>App academy is no...",App academy is no joke. You will spend every s...,None,5.0,None,App academy is no joke. You will spend every s...,app-academy,10525
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4628,springboard,2326,293848,0,"Every step of the way, I felt supported","<span class=""truncatable""><p></p><p>I was cons...","<p>I was considering a career transition, a fr...",Data Analytics Career Track,5.0,4.0,"I was considering a career transition, a frien...",springboard,11035
4629,springboard,2325,293851,0,Mentorship Was Awesome!,"<span class=""truncatable""><p></p><p>The mentor...",<p>The mentorship at Springboard was absolutel...,UI/UX Design Career Track,5.0,5.0,The mentorship at Springboard was absolutely e...,springboard,11035
4630,springboard,2324,293871,0,Best UX Bootcamp,"<span class=""truncatable""><p></p><p>I took 2 w...",<p>I took 2 weeks to research the different pa...,UI/UX Design Career Track,5.0,5.0,I took 2 weeks to research the different paths...,springboard,11035
4631,springboard,2323,293887,0,Springboard is amazing.,"<span class=""truncatable""><p></p><p>Springboar...",<p>Springboard is an amazing way to change car...,Data Science Career Track,5.0,5.0,Springboard is an amazing way to change career...,springboard,11035
4632,springboard,2322,293890,0,Wonderful learning experience and support!,"<span class=""truncatable""><p></p><p>The curric...",<p>The curriculum is very broad. I think that ...,Data Science Career Track,5.0,5.0,The curriculum is very broad. I think that you...,springboard,11035

In [14]:
comments_temp = comments_temp.drop(columns=["key_0"])

In [15]:
comments_temp.to_sql('comments', con = engine, if_exists = 'replace', chunksize = 1000)

4633

In [16]:
cursor.close()
cnx.close()