In [1]:
import mysql.connector

from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="jbatista",
                               pw="",
                               db="final_schema"))

In [2]:
cnx = mysql.connector.connect(user = 'jbatista',
                                password = '',
                                host = '127.0.0.1')

In [3]:
import pandas as pd
import numpy as np

In [4]:
cursor = cnx.cursor()

In [5]:
def read_table(table):
	query = "SELECT * FROM " + table +";"
	cursor.execute(query)

In [6]:
read_table("final_schema.locations")

In [7]:
locations = cursor.fetchall()

In [8]:
locations_df = pd.DataFrame(locations)

In [9]:
locations_df.columns = cursor.column_names
locations_df

,index,id,country.id,country.name,country.abbrev,city.id,city.keyword,school,school_id
0,0,15901,57.0,Germany,DE,31156.0,berlin,ironhack,10828
1,1,16022,29.0,Mexico,MX,31175.0,mexico-city,ironhack,10828
2,2,16086,59.0,Netherlands,NL,31168.0,amsterdam,ironhack,10828
3,3,16088,42.0,Brazil,BR,31121.0,sao-paulo,ironhack,10828
4,4,16109,38.0,France,FR,31136.0,paris,ironhack,10828
5,5,16375,1.0,United States,US,31.0,miami,ironhack,10828
6,6,16376,12.0,Spain,ES,31052.0,madrid,ironhack,10828
7,7,16377,12.0,Spain,ES,31170.0,barcelona,ironhack,10828
8,8,16709,28.0,Portugal,PT,31075.0,lisbon,ironhack,10828
9,9,17233,0.0,,,0.0,,ironhack,10828
10,10,15704,1.0,United States,US,13.0,san-francisco,app-academy,10525
11,11,15705,1.0,United States,US,1507.0,new-york-city,app-academy,10525
12,12,15862,0.0,,,0.0,,app-academy,10525
13,13,16013,0.0,,,0.0,,springboard,11035
14,14,17154,0.0,,,0.0,,practicum-coding-bootcamps,11225
15,15,15899,0.0,,,0.0,,evolve-security-academy,10743
16,16,16045,1.0,United States,US,39.0,chicago,evolve-security-academy,10743
17,17,16002,1.0,United States,US,10.0,los-angeles,codesmith,10643
18,18,16328,1.0,United States,US,1507.0,new-york-city,codesmith,10643
19,19,16595,0.0,,,0.0,,codesmith,10643
20,20,17438,1.0,United States,US,31234.0,temp-online,codesmith,10643
21,21,15935,1.0,United States,US,1507.0,new-york-city,brainstation,10571
22,22,15985,2.0,Canada,CA,1547.0,toronto,brainstation,10571
23,23,16010,2.0,Canada,CA,31138.0,vancouver,brainstation,10571
24,24,16909,1.0,United States,US,47.0,boston,brainstation,10571
25,25,16910,1.0,United States,US,39.0,chicago,brainstation,10571
26,26,16940,0.0,,,0.0,,brainstation,10571
27,27,17706,1.0,United States,US,31.0,miami,brainstation,10571
28,28,17731,11.0,United Kingdom,GB,31176.0,london,brainstation,10571

In [24]:
type(locations_df["country.id"][0])

numpy.float64

In [10]:
locations_df["country.id"].fillna(99, inplace=True)

In [26]:
locations_df

,index,id,country.id,country.name,country.abbrev,city.id,city.keyword,school,school_id
0,10,15704,1.0,United States,US,13.0,san-francisco,app-academy,10525
1,11,15705,1.0,United States,US,1507.0,new-york-city,app-academy,10525
2,12,15862,99.0,None,None,NaN,None,app-academy,10525
3,15,15899,99.0,None,None,NaN,None,evolve-security-academy,10743
4,0,15901,57.0,Germany,DE,31156.0,berlin,ironhack,10828
5,21,15935,1.0,United States,US,1507.0,new-york-city,brainstation,10571
6,22,15985,2.0,Canada,CA,1547.0,toronto,brainstation,10571
7,17,16002,1.0,United States,US,10.0,los-angeles,codesmith,10643
8,23,16010,2.0,Canada,CA,31138.0,vancouver,brainstation,10571
9,13,16013,99.0,None,None,NaN,None,springboard,11035
10,1,16022,29.0,Mexico,MX,31175.0,mexico-city,ironhack,10828
11,16,16045,1.0,United States,US,39.0,chicago,evolve-security-academy,10743
12,2,16086,59.0,Netherlands,NL,31168.0,amsterdam,ironhack,10828
13,3,16088,42.0,Brazil,BR,31121.0,sao-paulo,ironhack,10828
14,4,16109,38.0,France,FR,31136.0,paris,ironhack,10828
15,18,16328,1.0,United States,US,1507.0,new-york-city,codesmith,10643
16,5,16375,1.0,United States,US,31.0,miami,ironhack,10828
17,6,16376,12.0,Spain,ES,31052.0,madrid,ironhack,10828
18,7,16377,12.0,Spain,ES,31170.0,barcelona,ironhack,10828
19,19,16595,99.0,None,None,NaN,None,codesmith,10643
20,8,16709,28.0,Portugal,PT,31075.0,lisbon,ironhack,10828
21,24,16909,1.0,United States,US,47.0,boston,brainstation,10571
22,25,16910,1.0,United States,US,39.0,chicago,brainstation,10571
23,26,16940,99.0,None,None,NaN,None,brainstation,10571
24,14,17154,99.0,None,None,NaN,None,practicum-coding-bootcamps,11225
25,9,17233,99.0,None,None,NaN,None,ironhack,10828
26,20,17438,1.0,United States,US,31234.0,temp-online,codesmith,10643
27,27,17706,1.0,United States,US,31.0,miami,brainstation,10571
28,28,17731,11.0,United Kingdom,GB,31176.0,london,brainstation,10571

In [11]:
locations_df["country.name"].fillna("Online", inplace=True)

In [12]:
locations_df["country.abbrev"].fillna("OL", inplace=True)

In [13]:
locations_df["city.id"].fillna(99, inplace=True)

In [14]:
locations_df

,index,id,country.id,country.name,country.abbrev,city.id,city.keyword,school,school_id
0,0,15901,57.0,Germany,DE,31156.0,berlin,ironhack,10828
1,1,16022,29.0,Mexico,MX,31175.0,mexico-city,ironhack,10828
2,2,16086,59.0,Netherlands,NL,31168.0,amsterdam,ironhack,10828
3,3,16088,42.0,Brazil,BR,31121.0,sao-paulo,ironhack,10828
4,4,16109,38.0,France,FR,31136.0,paris,ironhack,10828
5,5,16375,1.0,United States,US,31.0,miami,ironhack,10828
6,6,16376,12.0,Spain,ES,31052.0,madrid,ironhack,10828
7,7,16377,12.0,Spain,ES,31170.0,barcelona,ironhack,10828
8,8,16709,28.0,Portugal,PT,31075.0,lisbon,ironhack,10828
9,9,17233,0.0,,,0.0,,ironhack,10828
10,10,15704,1.0,United States,US,13.0,san-francisco,app-academy,10525
11,11,15705,1.0,United States,US,1507.0,new-york-city,app-academy,10525
12,12,15862,0.0,,,0.0,,app-academy,10525
13,13,16013,0.0,,,0.0,,springboard,11035
14,14,17154,0.0,,,0.0,,practicum-coding-bootcamps,11225
15,15,15899,0.0,,,0.0,,evolve-security-academy,10743
16,16,16045,1.0,United States,US,39.0,chicago,evolve-security-academy,10743
17,17,16002,1.0,United States,US,10.0,los-angeles,codesmith,10643
18,18,16328,1.0,United States,US,1507.0,new-york-city,codesmith,10643
19,19,16595,0.0,,,0.0,,codesmith,10643
20,20,17438,1.0,United States,US,31234.0,temp-online,codesmith,10643
21,21,15935,1.0,United States,US,1507.0,new-york-city,brainstation,10571
22,22,15985,2.0,Canada,CA,1547.0,toronto,brainstation,10571
23,23,16010,2.0,Canada,CA,31138.0,vancouver,brainstation,10571
24,24,16909,1.0,United States,US,47.0,boston,brainstation,10571
25,25,16910,1.0,United States,US,39.0,chicago,brainstation,10571
26,26,16940,0.0,,,0.0,,brainstation,10571
27,27,17706,1.0,United States,US,31.0,miami,brainstation,10571
28,28,17731,11.0,United Kingdom,GB,31176.0,london,brainstation,10571

In [18]:
def replace(x):
	if x == 0:
		return 99
	else:
		return x

locations_df["country.id"] = locations_df["country.id"].apply(replace)

In [19]:
locations_df

,index,id,country.id,country.name,country.abbrev,city.id,city.keyword,school,school_id
0,0,15901,57.0,Germany,DE,31156.0,berlin,ironhack,10828
1,1,16022,29.0,Mexico,MX,31175.0,mexico-city,ironhack,10828
2,2,16086,59.0,Netherlands,NL,31168.0,amsterdam,ironhack,10828
3,3,16088,42.0,Brazil,BR,31121.0,sao-paulo,ironhack,10828
4,4,16109,38.0,France,FR,31136.0,paris,ironhack,10828
5,5,16375,1.0,United States,US,31.0,miami,ironhack,10828
6,6,16376,12.0,Spain,ES,31052.0,madrid,ironhack,10828
7,7,16377,12.0,Spain,ES,31170.0,barcelona,ironhack,10828
8,8,16709,28.0,Portugal,PT,31075.0,lisbon,ironhack,10828
9,9,17233,99.0,,,0.0,,ironhack,10828
10,10,15704,1.0,United States,US,13.0,san-francisco,app-academy,10525
11,11,15705,1.0,United States,US,1507.0,new-york-city,app-academy,10525
12,12,15862,99.0,,,0.0,,app-academy,10525
13,13,16013,99.0,,,0.0,,springboard,11035
14,14,17154,99.0,,,0.0,,practicum-coding-bootcamps,11225
15,15,15899,99.0,,,0.0,,evolve-security-academy,10743
16,16,16045,1.0,United States,US,39.0,chicago,evolve-security-academy,10743
17,17,16002,1.0,United States,US,10.0,los-angeles,codesmith,10643
18,18,16328,1.0,United States,US,1507.0,new-york-city,codesmith,10643
19,19,16595,99.0,,,0.0,,codesmith,10643
20,20,17438,1.0,United States,US,31234.0,temp-online,codesmith,10643
21,21,15935,1.0,United States,US,1507.0,new-york-city,brainstation,10571
22,22,15985,2.0,Canada,CA,1547.0,toronto,brainstation,10571
23,23,16010,2.0,Canada,CA,31138.0,vancouver,brainstation,10571
24,24,16909,1.0,United States,US,47.0,boston,brainstation,10571
25,25,16910,1.0,United States,US,39.0,chicago,brainstation,10571
26,26,16940,99.0,,,0.0,,brainstation,10571
27,27,17706,1.0,United States,US,31.0,miami,brainstation,10571
28,28,17731,11.0,United Kingdom,GB,31176.0,london,brainstation,10571

In [20]:
def cn_replace(x):
	if (x == ""):
		return "Online"
	else:
		return x

locations_df["country.name"] = locations_df["country.name"].apply(cn_replace)

In [21]:
def cn_replace(x):
	if (x == ""):
		return "online"
	else:
		return x

		
locations_df["country.abbrev"] = locations_df["country.abbrev"].apply(cn_replace)

In [23]:
locations_df["city.keyword"] = locations_df["city.keyword"].apply(cn_replace)

In [24]:
locations_df

,index,id,country.id,country.name,country.abbrev,city.id,city.keyword,school,school_id
0,0,15901,57.0,Germany,DE,31156.0,berlin,ironhack,10828
1,1,16022,29.0,Mexico,MX,31175.0,mexico-city,ironhack,10828
2,2,16086,59.0,Netherlands,NL,31168.0,amsterdam,ironhack,10828
3,3,16088,42.0,Brazil,BR,31121.0,sao-paulo,ironhack,10828
4,4,16109,38.0,France,FR,31136.0,paris,ironhack,10828
5,5,16375,1.0,United States,US,31.0,miami,ironhack,10828
6,6,16376,12.0,Spain,ES,31052.0,madrid,ironhack,10828
7,7,16377,12.0,Spain,ES,31170.0,barcelona,ironhack,10828
8,8,16709,28.0,Portugal,PT,31075.0,lisbon,ironhack,10828
9,9,17233,99.0,Online,online,0.0,online,ironhack,10828
10,10,15704,1.0,United States,US,13.0,san-francisco,app-academy,10525
11,11,15705,1.0,United States,US,1507.0,new-york-city,app-academy,10525
12,12,15862,99.0,Online,online,0.0,online,app-academy,10525
13,13,16013,99.0,Online,online,0.0,online,springboard,11035
14,14,17154,99.0,Online,online,0.0,online,practicum-coding-bootcamps,11225
15,15,15899,99.0,Online,online,0.0,online,evolve-security-academy,10743
16,16,16045,1.0,United States,US,39.0,chicago,evolve-security-academy,10743
17,17,16002,1.0,United States,US,10.0,los-angeles,codesmith,10643
18,18,16328,1.0,United States,US,1507.0,new-york-city,codesmith,10643
19,19,16595,99.0,Online,online,0.0,online,codesmith,10643
20,20,17438,1.0,United States,US,31234.0,temp-online,codesmith,10643
21,21,15935,1.0,United States,US,1507.0,new-york-city,brainstation,10571
22,22,15985,2.0,Canada,CA,1547.0,toronto,brainstation,10571
23,23,16010,2.0,Canada,CA,31138.0,vancouver,brainstation,10571
24,24,16909,1.0,United States,US,47.0,boston,brainstation,10571
25,25,16910,1.0,United States,US,39.0,chicago,brainstation,10571
26,26,16940,99.0,Online,online,0.0,online,brainstation,10571
27,27,17706,1.0,United States,US,31.0,miami,brainstation,10571
28,28,17731,11.0,United Kingdom,GB,31176.0,london,brainstation,10571

In [25]:
cursor.close()
cnx.close()

In [26]:
locations_df.to_sql('locations', con = engine, if_exists = 'replace', chunksize = 1000)

29