# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [1]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {   
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035,
'practicum-coding-bootcamps': 11225,
'evolve-security-academy': 10743,
'codesmith': 10643,
'brainstation': 10571
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [2]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
app-academy
springboard
practicum-coding-bootcamps
evolve-security-academy
codesmith
brainstation

In [18]:
comments.to_csv('comments.csv', sep=";")

In [19]:
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,293764,Ana Valeria Khatchikian,False,None,2022.0,False,Journalist,Great,"<span class=""truncatable""><p></p><p>I really e...","<p>I really enjoyed the boot camp, it was very...",...,2022-10-07,UX/UI Design Bootcamp,{'image': None},3.3,[],4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack
1,293752,Anonymous,True,None,2022.0,True,Ux designer,Ux designer,"<span class=""truncatable""><p></p><p>Its a grea...",<p>Its a great program for those who wish chan...,...,2022-10-07,UX/UI Design Bootcamp,{'image': None},3.7,[],3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack
2,293725,Anonymous,True,None,2022.0,True,Data analyst,Very good,"<span class=""truncatable""><p></p><p>When i sta...",<p>When i started my journey i was a bit nervo...,...,2022-10-06,Data Analytics Part-Time,{'image': None},3.3,[],3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack
3,293664,Nikos,False,None,2022.0,False,,High recommended Data analytics Bootcamp (Iro...,"<span class=""truncatable""><p></p><p>I am very ...",<p>I am very happy and pleased for joining and...,...,2022-10-04,,{'image': None},5.0,[],5.0,5.0,5.0,I am very happy and pleased for joining and fi...,ironhack
4,293621,Lluis,False,None,2022.0,False,,Fascinating and Underwhelming,"<span class=""truncatable""><p></p><p>Pros: Good...","<p>Pros: Good environment, good facilitators t...",...,2022-10-04,Cybersecurity Part-Time,{'image': None},3.3,[],3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,233011,Anonymous,False,None,2015.0,True,None,BrainStation's Product Management course helpe...,"<span class=""truncatable""><p>I took BrainStati...",I took BrainStation's Product Management cours...,...,2015-11-10,Product Management,{'image': None},5.0,[],5.0,NaN,NaN,I took BrainStation's Product Management cours...,brainstation
304,232993,Anonymous,False,None,2015.0,True,None,The course offers good continuing education fo...,"<span class=""truncatable""><p>The content cover...",The content covered was relevant and interesti...,...,2015-11-01,Digital Marketing,{'image': None},3.0,"[{'name': 'contact@brainstation.io', 'email': ...",3.0,NaN,NaN,The content covered was relevant and interesti...,brainstation
305,232987,Anonymous,False,None,2015.0,True,None,The Digital Marketing course is structured so ...,"<span class=""truncatable""><p>This program has ...",This program has some great insight from peopl...,...,2015-10-30,Digital Marketing,{'image': None},4.0,[],4.0,NaN,NaN,This program has some great insight from peopl...,brainstation
306,232910,Anonymous,False,None,2015.0,True,None,Built my first iOS app!,"<span class=""truncatable""><p>I am enrolled in ...",I am enrolled in the Intro to iOS Development ...,...,2015-10-24,iOS Development,{'image': None},5.0,[],5.0,NaN,NaN,I am enrolled in the Intro to iOS Development ...,brainstation
307,232524,Anonymous,False,None,NaN,False,None,Amazing Learning Experience,"<span class=""truncatable""><p>I was registered ...",I was registered for the digital marketing cla...,...,2015-07-21,Digital Marketing,{'image': None},4.0,[],5.0,5.0,2.0,I was registered for the digital marketing cla...,brainstation

In [3]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

C:\Users\BogPoet\AppData\Local\Temp\ipykernel_23248\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

app-academy

C:\Users\BogPoet\AppData\Local\Temp\ipykernel_23248\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

springboard

C:\Users\BogPoet\AppData\Local\Temp\ipykernel_23248\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

practicum-coding-bootcamps

C:\Users\BogPoet\AppData\Local\Temp\ipykernel_23248\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

evolve-security-academy

C:\Users\BogPoet\AppData\Local\Temp\ipykernel_23248\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

codesmith

C:\Users\BogPoet\AppData\Local\Temp\ipykernel_23248\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

brainstation

C:\Users\BogPoet\AppData\Local\Temp\ipykernel_23248\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

In [21]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  17154      Online         1     Online       Online        online

                        school  school_id
 0  practicum-coding-bootcamps      11225  ,
       id                 description  state.id state.name state.abbrev  \
 0  15899                      Online         1     Online       Online
 1  16045  Chicago, IL, United States        15   Illinois           IL

   state.keyword  country.id   country.name country.abbrev  city.id city.name  \
 0        online         NaN            NaN            NaN      NaN       NaN
 1      illinois         1.0  United States             US     39.0   Chicago

   city.keyword                   school  school_id
 0          NaN  evolve-security-academy      10743
 1      chicago  evolve-security-academy      10743  ,
       id                       description  country.id   country.name  \
 0  16002    Los Angeles, CA, United States         1.0  United States
 1  16328  New York City, NY, United States         1.0  United States
 2  16595                            Online         NaN            NaN
 3  17438                Temporarily Online         1.0  United States

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US       6.0  California           CA    california     10.0
 1             US      34.0    New York           NY      new-york   1507.0
 2            NaN       1.0      Online       Online        online      NaN
 3             US       NaN         NaN          NaN           NaN  31234.0

             city.name   city.keyword     school  school_id
 0         Los Angeles    los-angeles  codesmith      10643
 1                 NYC  new-york-city  codesmith      10643
 2                 NaN            NaN  codesmith      10643
 3  Temporarily Online    temp-online  codesmith      10643  ,
       id        description  country.id    country.name country.abbrev  \
 0  15935  New York City, NY         1.0   United States             US
 1  15985    Toronto, Canada         2.0          Canada             CA
 2  16010  Vancouver, Canada         2.0          Canada             CA
 3  16909         Boston, MA         1.0   United States             US
 4  16910        Chicago, IL         1.0   United States             US
 5  16940             Online         NaN             NaN            NaN
 6  17706          Miami, FL         1.0   United States             US
 7  17731         London, UK        11.0  United Kingdom             GB

    state.id        state.name state.abbrev  state.keyword  city.id  city.name  \
 0      34.0          New York           NY       new-york   1507.0        NYC
 1       NaN               NaN          NaN            NaN   1547.0    Toronto
 2      71.0  British Columbia           BC                 31138.0  Vancouver
 3      23.0     Massachusetts           MA  massachusetts     47.0     Boston
 4      15.0          Illinois           IL       illinois     39.0    Chicago
 5       1.0            Online       Online         online      NaN        NaN
 6      11.0           Florida           FL        florida     31.0      Miami
 7       NaN               NaN          NaN            NaN  31176.0     London

     city.keyword        school  school_id
 0  new-york-city  brainstation      10571
 1        toronto  brainstation      10571
 2      vancouver  brainstation      10571
 3         boston  brainstation      10571
 4        chicago  brainstation      10571
 5            NaN  brainstation      10571
 6          miami  brainstation      10571
 7         london  brainstation      10571  ]

In [22]:
locations = pd.concat(locations_list)
type(locations)
locations.to_csv("locations_list.csv", sep=";")

In [23]:
courses = pd.concat(courses_list)
courses.head(10)
courses.to_csv('courses.csv')

In [24]:
badges = pd.concat(badges_list)
badges.head()
badges.to_csv('badges.csv')

In [25]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools.head()

schools.to_csv('schools.csv')

In [26]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="jbatista",
                               pw="",
                               db="project_data_lake"))

In [27]:
comments2 = comments.drop(columns=['user', 'comments'])

In [29]:
comments2.to_sql('comments', con = engine, if_exists = 'replace', chunksize = 1000)
schools.to_sql('schools', con = engine, if_exists = 'replace', chunksize = 1000)
badges.to_sql('badges', con = engine, if_exists = 'replace', chunksize = 1000)
locations.to_sql('locations_list', con = engine, if_exists = 'replace', chunksize = 1000)
courses.to_sql('courses', con = engine, if_exists = 'replace', chunksize = 1000)

4633