### Student Profiles

In [ ]:
## Student_1
## student_name = jo
## student_age = 24
## course_desired = cyber security
## course_method = remote
## course_lenght = part_time
## desired_location = somewhere sunny

## Student_2
## student_name = chico
## student_age = 25
## course_desired = web dev
## course_method = in person
## course_lenght = full time
## desired_weather = rainy

## Student_3
## student_name = johnny
## student_age = 41
## course_desired = data analytics
## course_method = in person (hybrid?)
## course_lenght = full time 
## desired_weather = average

### BUSINESS QUESTION

In [ ]:
## What is the best school for me?

### SMALL QUERIES

### For Jo:

Cyber security courses:

SELECT * FROM final_schema.courses
WHERE courses LIKE '%security%';

/* Mentioning Part-Time: */
SELECT * FROM final_schema.courses
WHERE courses LIKE '%security%'
AND courses LIKE '%part%';

/* Unfortunately, there is only the Ironhack bootcamp. We don't have information on schedules for the other programs. More data is needed.

But if Jo chooses Ironhack... where? */

SELECT * FROM final_schema.locations
WHERE school = 'ironhack';

CREATE TEMPORARY TABLE sunshine_hours
SELECT * FROM (
SELECT id, `country.name`, `city.keyword`
FROM final_schema.locations
WHERE school = 'ironhack') AS ironhack_cities
INNER JOIN sunshine
ON ironhack_cities.id = sunshine.location_id;

SELECT * FROM sunshine_hours
ORDER BY Year DESC;

/* The most sunny place with an Ironhack Campus where Jo could study is Lisbon,
with an average 2806 hours of sunshine per Year */

### For Chico:

/* What Schools offer Web Development? */

SELECT *
FROM final_schema.courses
WHERE courses.courses LIKE '%Web Dev%';

/* Let's see if we're not missing anything... */
SELECT *
FROM final_schema.courses
WHERE courses.courses
LIKE '%web%'
OR courses.courses
LIKE '%dev%';

/* Well, iOS Development is not Web Development...
Our final candidate list should be this... */

SELECT *
FROM final_schema.courses
WHERE courses.courses
LIKE '%web dev%'
AND courses.courses
NOT LIKE '%part%';

/* We have ironhack and brainstation. Let's check the campuses and the weather */

SELECT id, `country.name`, `city.keyword`, school
FROM locations
WHERE school = 'ironhack'
OR school = 'brainstation';

CREATE TEMPORARY TABLE chico_choices
SELECT * FROM
(SELECT id, `country.name`, `city.keyword`, school
FROM locations
WHERE school = 'ironhack'
OR school = 'brainstation') AS ih_bs_cities
INNER JOIN sunshine
ON sunshine.location_id = ih_bs_cities.id;

SELECT * FROM chico_choices
ORDER BY year ASC
LIMIT 3;

/* Seems like the least sunny option (and hopefully more rainy) is the Ironhack in Berlin */

### For Johnny: