In [1]:
import pandas as pd

europe = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_by_sunshine_duration')[4]
europe

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Ref.
0,Albania,Tirana,124.0,125.0,165.0,191.0,263.0,298.0,354.0,327.0,264.0,218.0,127.0,88.0,2544.0,NaN
1,Armenia,Yerevan,93.0,108.0,162.0,177.0,242.0,297.0,343.0,332.0,278.0,212.0,138.0,92.0,2474.0,NaN
2,Austria,Vienna,66.0,106.0,128.0,183.0,239.0,228.0,260.0,251.0,168.0,139.0,66.0,51.0,1884.0,[104]
3,Belarus,Minsk,34.0,72.0,133.0,185.0,270.0,267.0,271.0,251.0,154.0,103.0,39.0,28.0,1807.0,[105]
4,Belgium,Brussels,59.0,77.0,114.0,159.0,191.0,188.0,201.0,190.0,143.0,113.0,66.0,45.0,1546.0,[106]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Turkey,Istanbul,71.0,88.0,133.0,180.0,251.0,300.0,322.0,295.0,243.0,164.0,102.0,68.0,2218.0,[155]
68,Ukraine,Kyiv,31.0,57.0,124.0,180.0,279.0,270.0,310.0,248.0,210.0,155.0,60.0,31.0,1955.0,[156]
69,United Kingdom,Edinburgh,54.0,79.0,115.0,145.0,188.0,166.0,172.0,162.0,129.0,101.0,71.0,46.0,1427.0,[157]
70,United Kingdom,Manchester,32.0,50.0,99.0,153.0,175.0,153.0,171.0,154.0,116.0,79.0,42.0,43.0,1265.0,[158]
71,United Kingdom,London,62.0,78.0,115.0,169.0,199.0,204.0,212.0,205.0,149.0,117.0,73.0,52.0,1633.0,[159]

In [2]:
europe_df = europe[['City', 'Year']]
condition = europe_df['City'].isin(['Amsterdam', 'Lisbon', 'Berlin', 'Paris', 'Madrid', 'Barcelona'])
europe_df = europe_df[condition]

In [3]:
north_america = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_by_sunshine_duration')[5]
north_america

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Ref.
0,Canada,Calgary,119.5,144.6,177.2,220.2,249.4,269.9,314.1,284.0,207.0,175.4,121.1,114.0,2396.3,[160]
1,Canada,Churchill,79.7,117.7,177.8,198.2,197.0,243.0,281.7,225.9,112.0,58.1,55.3,53.1,1799.5,[161]
2,Canada,Edmonton,100.8,121.7,176.3,244.2,279.9,285.9,307.5,282.3,192.7,170.8,98.4,84.5,2344.8,[162]
3,Canada,Iqaluit,32.4,94.0,172.2,216.5,180.5,200.2,236.8,156.8,87.9,51.4,35.6,12.6,1476.8,[163]
4,Canada,Montreal,101.0,128.0,164.0,178.0,229.0,240.0,272.0,246.0,182.0,144.0,84.0,84.0,2051.0,[164]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,United States,Tulsa,175.8,171.7,219.6,244.4,266.7,294.8,334.7,305.3,232.5,218.6,161.1,160.8,2786.0,?
69,United States,Virginia Beach,171.5,175.2,229.3,252.8,271.7,280.1,278.3,260.4,231.4,208.3,175.7,160.4,2695.1,?
70,United States,"Washington, D.C.",144.6,151.8,204.0,228.2,260.5,283.2,280.5,263.1,225.0,203.6,150.2,133.0,2527.7,?
71,United States,Wichita,190.9,186.4,230.4,257.8,289.8,305.0,342.1,309.2,245.6,226.3,170.2,168.7,2922.4,?
72,United States,Yuma,268.4,270.8,335.5,365.5,407.4,415.4,392.6,375.6,341.7,319.6,270.1,252.7,4015.3,[178]

In [4]:
north_american_df = north_america[['City', 'Year']]
condition = north_american_df['City'].isin(['San Francisco', 'New York City', 'Mexico City'])
north_american_df = north_american_df[condition]

In [5]:
south_america = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_by_sunshine_duration')[6]
south_america

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Ref.
0,Argentina,Buenos Aires,279.0,240.8,229.0,220.0,173.6,132.0,142.6,173.6,189.0,227.0,252.0,266.6,2525.2,?
1,Argentina,Córdoba,257.3,229.6,204.6,189.0,170.5,150.0,170.5,204.6,213.0,238.7,255.0,251.1,2533.9,[179]
2,Argentina,La Plata,251.1,229.6,210.8,186.0,155.0,120.0,127.1,161.2,171.0,207.7,225.0,238.7,2283.2,[180]
3,Argentina,Mendoza,297.6,257.6,235.6,219.0,195.3,168.0,182.9,229.4,225.0,282.1,294.0,285.2,2871.7,?
4,Argentina,Salta,164.3,134.4,105.4,117.0,136.4,120.0,173.6,195.3,162.0,182.9,171.0,164.3,1826.6,?
5,Argentina,Ushuaia,180.2,150.4,124.9,92.7,78.0,50.3,35.0,58.3,87.6,113.0,140.0,170.8,1281.2,?
6,Bolivia,La Paz,182.9,152.6,148.8,165.0,222.7,240.0,235.6,217.0,189.0,179.8,171.0,186.0,2288.9,?
7,Brazil,Belém,130.3,103.1,111.1,132.8,186.7,228.7,250.8,266.4,242.4,231.8,191.7,159.1,2234.9,[181]
8,Brazil,Belo Horizonte,176.0,190.8,194.9,210.7,221.2,229.9,240.5,241.5,202.5,196.5,166.9,153.3,2424.7,[181]
9,Brazil,Brasília,150.9,158.9,166.5,204.6,239.5,254.3,268.9,264.4,210.5,183.1,139.9,126.8,2368.3,[181]
10,Brazil,Curitiba,160.5,151.3,163.1,155.5,148.8,141.3,162.1,173.0,124.3,136.7,163.5,164.7,1844.8,[181]
11,Brazil,Fortaleza,222.0,181.2,157.0,147.1,201.3,215.5,259.4,288.3,284.4,294.1,288.5,265.4,2804.2,[181]
12,Brazil,Manaus,112.7,93.4,95.8,107.3,144.2,186.8,218.5,215.7,183.8,158.1,140.0,118.5,1774.8,[181]
13,Brazil,Porto Alegre,227.2,195.2,202.4,166.0,146.9,115.6,131.4,145.3,145.8,178.0,215.2,232.4,2101.4,[181]
14,Brazil,Rio de Janeiro,194.3,199.8,189.3,194.0,190.0,202.1,196.0,199.7,135.7,156.0,163.7,166.7,2187.3,[181]
15,Brazil,Recife,233.0,210.5,227.6,198.3,186.0,161.1,175.2,195.2,215.6,242.6,245.4,246.0,2536.5,[181]
16,Brazil,Salvador,246.9,215.0,227.2,194.1,165.8,147.8,169.1,189.1,211.4,235.5,210.9,230.2,2443.0,[181]
17,Brazil,São Paulo,139.1,153.5,161.6,169.3,167.6,160.0,169.0,173.1,144.5,157.9,152.8,145.1,1893.5,[181]
18,Chile,Antofagasta,319.3,291.0,294.5,252.0,229.4,207.0,204.6,213.9,219.0,260.4,276.0,310.0,3077.1,?
19,Chile,Calama,353.4,305.1,319.3,312.0,306.9,297.0,310.0,316.2,321.0,356.5,363.0,365.8,3926.2,[182]
20,Chile,Concepción,341.0,278.0,255.0,191.0,133.0,114.0,129.0,162.0,197.0,254.0,296.0,331.0,2681.0,?
21,Chile,Santiago,362.7,302.3,272.8,201.0,155.0,120.0,145.7,161.2,186.0,248.0,306.0,347.2,2807.9,?
22,Chile,Valdivia,257.3,228.8,204.6,123.0,68.2,45.0,65.1,89.9,111.0,127.1,189.0,207.7,1716.7,?
23,Colombia,Barranquilla,283.0,245.0,241.0,211.0,187.0,194.0,217.0,208.0,166.0,167.0,191.0,252.0,2561.0,?
24,Colombia,Bogotá,156.0,128.0,107.0,88.0,83.0,94.0,114.0,117.0,109.0,96.0,103.0,138.0,1328.0,?
25,Colombia,Cali,183.0,155.8,166.5,139.0,147.1,153.1,189.9,175.1,157.4,151.1,153.8,170.1,1941.9,[183]
26,Colombia,Medellín,175.5,149.0,154.2,127.9,138.9,173.0,203.2,191.6,153.4,132.9,136.4,156.2,1892.2,[184]
27,Ecuador,Guayaquil,102.3,101.7,139.5,150.0,167.4,123.0,127.1,133.3,144.0,136.4,120.0,136.4,1581.1,?
28,Ecuador,Quito,197.0,140.0,122.0,136.0,164.0,189.0,249.0,256.0,196.0,177.0,197.0,215.0,2238.0,?
29,Falkland Islands,Stanley,198.0,161.0,169.0,115.0,77.0,57.0,69.0,90.0,128.0,189.0,200.0,198.0,1651.0,?
30,French Guiana,Cayenne,94.3,89.9,119.0,118.1,118.8,148.6,196.5,229.8,255.2,251.1,217.3,137.5,1976.0,?
31,Guyana,Georgetown,201.0,208.6,219.7,197.9,178.8,156.7,201.6,233.7,229.8,235.3,210.9,186.6,2460.6,?
32,Paraguay,Asunción,276.0,246.0,254.0,228.0,205.0,165.0,195.0,223.0,204.0,242.0,270.0,295.0,2803.0,?
33,Peru,Arequipa,223.2,189.3,244.9,294.0,288.3,291.0,291.4,310.0,297.0,303.8,309.0,291.4,3333.3,?
34,Peru,Lima,179.1,169.0,139.2,184.0,116.4,50.6,28.6,32.3,37.3,65.3,89.0,139.2,1230.0,?
35,Uruguay,Montevideo,294.9,230.6,222.8,179.6,164.2,129.7,139.7,164.4,182.3,239.0,248.9,285.3,2481.4,?
36,Venezuela,Caracas,229.4,217.5,235.6,183.0,182.9,183.0,210.8,217.0,213.0,210.8,210.0,213.9,2506.9,?
37,Venezuela,Maracaibo,300.0,279.0,286.0,257.0,243.0,253.0,301.0,279.0,272.5,283.0,258.0,273.0,3284.2,?
38,Venezuela,Ciudad Bolivar,248.0,235.2,263.5,234.0,226.3,201.0,232.5,248.0,252.0,260.4,249.0,244.9,2894.8,[citation needed]

In [6]:
south_american_df = south_america[['City', 'Year']]
condition = south_american_df['City'].isin(['São Paulo'])
south_american_df = south_american_df[condition]

In [7]:
sunshine = pd.concat([south_american_df, north_american_df, europe_df])
sunshine

             City    Year
17      São Paulo  1893.5
11    Mexico City  2555.0
49  New York City  2534.7
63  San Francisco  3061.7
20          Paris  1662.0
22         Berlin  1626.0
39      Amsterdam  1662.0
46         Lisbon  2806.0
56      Barcelona  2591.0
58         Madrid  2769.0

In [8]:
sunshine.reset_index(names="city_id", inplace=True)

In [9]:
sunshine

sunshine["location_id"] = [16088, 16022, 16328, 15704, 16109, 15901, 16086, 16709, 16377, 16376]
sunshine

   city_id           City    Year  location_id
0       17      São Paulo  1893.5        16088
1       11    Mexico City  2555.0        16022
2       49  New York City  2534.7        16328
3       63  San Francisco  3061.7        15704
4       20          Paris  1662.0        16109
5       22         Berlin  1626.0        15901
6       39      Amsterdam  1662.0        16086
7       46         Lisbon  2806.0        16709
8       56      Barcelona  2591.0        16377
9       58         Madrid  2769.0        16376

In [10]:
sunshine

   city_id           City    Year  location_id
0       17      São Paulo  1893.5        16088
1       11    Mexico City  2555.0        16022
2       49  New York City  2534.7        16328
3       63  San Francisco  3061.7        15704
4       20          Paris  1662.0        16109
5       22         Berlin  1626.0        15901
6       39      Amsterdam  1662.0        16086
7       46         Lisbon  2806.0        16709
8       56      Barcelona  2591.0        16377
9       58         Madrid  2769.0        16376

In [11]:
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="jbatista",
                               pw="",
                               db="final_schema"))

sunshine.to_sql('sunshine', con = engine, if_exists = 'replace', chunksize = 1000)

10